body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

a[ng-click]{
    cursor: pointer;
}

.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 200px; // your preference
}

.list-inline {
  padding-top: 10px;
}
