<form novalidate="novalidate" class="form-horizontal" ng-submit='submit()' name='form'>
  <div class="form-group">
    <label class="col-sm-1 control-label" for="name">Name</label>
    <div class="col-sm-5">
      <input type="text" id="name" ng-model="team.name" placeholder="Team name" focus="true" required/>
    </div>
  </div>
  
  <div class="col-sm-4">
    <button type='submit' ng-disabled="form.$invalid" class="btn btn-small btn-primary">Save</button>
    <button type='cancel' ng-click='cancel()' class="btn btn-small btn-danger">Cancel</button>
  </div>
</form>